body {
  background-color: rgb(43, 43, 43);
}

/*Home CSS*/

header { 
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-h1 {
  font-size: 6rem;
  color: red;
  font-family: Satisfy;
  margin-bottom: 2rem;
}

.home-p {
  color: white;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

.container.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.button {
  margin-top: 1rem;
  background-color: red;
  color: white;
  border: solid white 0.05rem;
  border-radius: 0.5rem;
  width: 12rem;
  height: 3rem;
  font-size: 1.25rem;
}

.button:hover {
  background-color: white;
  color: red;
  border: solid red 0.05rem;
}

/*Navbar CSS*/

.navbar {
  background-color: black;
  display: flex;
  justify-content:flex-start;
  height: 3rem;
}

li {
  list-style: none;
  margin-left: 2rem;
  color: white;
  text-decoration: none;
}

/*Quiz CSS*/

.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 49);
  width: 65vw;
  height: 65vh;
  border: solid red 0.15rem;
  border-radius: 0.75rem;
}

.container.quiz.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  padding: 0;
}

/*Questions CSS*/

.container.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.questions-h1 {
  color: white;
  margin-bottom: 3rem;
  text-align: center;
}

.questions-input {
  margin-bottom: 2rem;
  border-radius: 0.25rem;
}

.questions-button {
  background-color: red !important;
  color: white;
  border: solid white 0.15rem;
}

.questions-label {
  color: white;
  margin-left: .5rem;
}