body {
  background-color: rgb(43, 43, 43);
}

header { 
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 6rem;
  color: red;
  font-family: Satisfy;
}

.navbar {
  background-color: black;
  height: 3rem;
}